.product {
  padding: 100px 255px;

}
.product-nav {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}
.product-nav p {
  font-family: Lora;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.navbar li {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.product-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cột đều nhau */
    grid-template-rows: auto auto; /* 2 hàng tự động dựa vào nội dung */
    gap: 10px; /* khoảng cách giữa các phần tử */
}

.item1 {
    grid-column: 1 / span 2; /* chiếm 2 cột đầu tiên */
    grid-row: 1; /* hàng đầu tiên */
}

.item2 {
    grid-column: 3; /* cột thứ 3 */
    grid-row: 1; /* hàng đầu tiên */
}

.item3 {
    grid-column: 4; /* cột thứ 4 */
    grid-row: 1; /* hàng đầu tiên */
}

.item4 {
    grid-column: 1; /* cột đầu tiên */
    grid-row: 2; /* hàng thứ 2 */
}

.item5 {
    grid-column: 2; /* cột thứ 2 */
    grid-row: 2; /* hàng thứ 2 */
}

.item6 {
    grid-column: 3 / span 2; /* chiếm 2 cột cuối cùng */
    grid-row: 2; /* hàng thứ 2 */
}
